@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}





.main nav h4{
  color: #5e5353;
}

.main nav h1{
  font-family: "gilroy";
}

.content h1{
  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 2.1rem;
  color: #242121;
}